html{
    scroll-behavior: smooth;
}

body {
    background-color: beige;
    color:rgb(1, 16, 29);
    margin: 20px; 
}

h1 {
    animation: fadeInAnimation ease 3s;
}

h2 {
    animation: fadeInAnimation ease 5s;
}

img, h3, p, figure {
    animation: fadeInAnimation ease 8s;
}

.static {
    display: none; 
}

.gif {
    width: 75%;
}


@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

h1 {
    text-align: center; 
    font-family: Impact, Courier, Helvetica;
    font-size: xxx-large;
    color: rgb(90, 119, 145);
}

h2 {
    font-family: Courier, Impact, Helvetica;
    font-size: xx-large;
    color: rgb(53, 100, 102);
}

h3 {
    font-family: Helvetica, Courier, Impact;
    font-size: x-large;
    color: steelblue;
}

.bold-text {
    font-weight: bold;
}

h1, h2, h3 {
    text-align: center;
    padding: 10px; 
}

p {
    line-height: 0.75cm;
    margin: 10px; 
    padding: 10px; 
    text-align: justify; 
}

p > a {
    text-decoration: underline;
    color: rgb(6, 103, 136); 
}

img {
    border-width: 5px;
    border-style: solid;
    border-color: darkolivegreen;
    padding: 10px;
    margin: auto; 
    /* border-top-right-radius: 30px; */
    width:100%;
    display:block;
    margin:auto;
}



ol li{
   list-style-type: decimal; 
}

li {
    text-align: left; 
    list-style-type: disc;
    margin-left: 30px;
    line-height: 0.5cm;
}


nav {
    text-align: center; 
    padding: 15px; 
    font-weight: bold; 
    margin: 10px;
    border: solid 1px grey; 
 
}

nav li {
    display: inline;
    margin: 10px; 
}

nav a {
    color: darkblue; 
    background-color: lightblue;
    padding: 5px; 
}

img {
    position: relative;
    left: -10000px;
    -webkit-animation: slideleft 0.5s forwards;
    -webkit-animation-delay: 1s;
    animation: slideleft 1s forwards;
    animation-delay: 1s;
}

@-webkit-keyframes slideleft {
    100% { left: 0; }
}

@keyframes slideleft {
    100% { left: 0; }
}


p {
    position: relative;
    right: 1000px;
    -webkit-animation: slideright 0.5s forwards;
    -webkit-animation-delay: 1s;
    animation: slideright 1s forwards;
    animation-delay: 1s;
}

@-webkit-keyframes slideright {
    100% { right: 0; }
}

@keyframes slideright {
    100% { right: 0; }
}

.skip a{
    position: absolute;
    top:-40px;
    background: white;
    left: 0;
    padding: 6px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
}

.skip a:focus {
    position: absolute; 
    top: 20px;
    text-decoration: underline;
}

nav a:hover {
    text-decoration: underline;
}
  
nav a:focus {
    text-decoration: underline;
}

:focus {
    border: 2px solid black; 
  }

.photo_gallery {
    display: grid;
    grid-template-columns: auto auto;
}

.photo_gallery_travel {
    display: grid;
    grid-template-columns: auto auto;
}

.photo_gallery img {
    border: none; 
    width: 100%; 
    margin: auto; 
}

figure img {
    border: 3px dashed; 
    width: 50%; 
    margin: auto; 
}

#last img {
    border: none; 
    width: 80%; 
}

#last {
    border: 3px dashed; 
    width: 80%; 
    margin: auto; 
}

/* .photo_gallery_travel figure:nth-child(5) {
    grid-column: 1/span 2;
} */

.photo_gallery_travel img {
    border: none; 
    width: 100%; 
}

.photo_gallery figure {
    border: 3px dashed; 
    margin: 10px; 
}

.photo_gallery_travel figure {
    border: 3px dashed; 
    margin: 10px; 
}

figcaption {
    line-height: 0.5cm;
    padding: 10px; 
    text-align: center;
}

#active {
    background-color: blue; 
    color: white;
    border: 3px solid white; 
    text-decoration: underline; 
}


@media screen and (prefers-reduced-motion: reduce){
    html{
        scroll-behavior: auto; 
    }

    h1, h2, h3, p, img, figure {
        animation: none; 
    }
  
    .skip a{
      -webkit-transition: none; 
      transition: none;       
     }


     .static {
        display: block;
        margin: auto; 
    }

    .gif {
        display: none; 
    }

    img, p {
        animation: none;
    }

    img {
        left: 0; 
    }

    p {
        right: 0;
    }

  }
  
  